
.heading
{
	color: blue;
	font-size: 40px;
}

.description
{
	color: red;
	font-size: 20px;
}

.description_new
{
	color: darkgrey;
	font-size: 50px;
	border-left: 10px solid black;
	padding-top: 30px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 30px;
	background-color: yellow;
}

.image
{
	width: 200px;
	position: relative;
	left: 20px;
}

.chart {
    width: 400px;
    height: 400px;
}

.circ1 {
    stroke: red; 
    fill: blue;
    stroke-width: 5;
}

.rect1 {
	fill: grey;
	stroke: yellow;
}

.poly {
	fill: yellow;
	stroke: green;
}